/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* COMMON */
.container{
    max-width: 71.25rem;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 1.25rem 1.875rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body{
    background-color: #B91450;
}
/* HEADER */
h1,h2{
    color: white;
    text-align: center;
    margin-top: 2.5rem;
}
/* MAIN */
main{
    margin-top: 1.875rem;
}
#ticket-generator label{
    color: #B91450;
    text-align: center;
    margin-bottom: .9375rem;
    font-weight: bold;
    font-size: 1.25rem;
    display: block;
}
.row input,select{
    border: 1px solid #B91450;
    border-radius: .3125rem;
    margin: auto;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}
.col-btn{
    width: 12.5rem;
    margin-top: 3.125rem;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
}
.btn{
    color: #B91450;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: .625rem;
    padding: .3125rem;
}
.row-border{
    display: flex;
    border-top: .125rem solid #808080;
    border-bottom: .125rem solid #808080;
    border-left: .125rem solid #808080;
    justify-content: space-between;
}
.col-name{
    background-color: #808080;
}
.col-ticket{
    width: calc(100% / 6);
    padding: .9375rem;
}
.col-ticket.col-name{
    width: auto;
}
.d-none{
    display: none;
}
.col-ticket h4:not(.col-ticket.col-name h4){
    margin-bottom: 3.125rem;
    font-size: 1.25rem;
}
.col-ticket span{
    font-size: 1.125rem;
}
.col-ticket.col-name h4{
    font-size: 20px;
}
.col-ticket.col-name{
    font-weight: bolder;
}